@font-face {
    font-family: 'smartcaps';
    src: url('../fonts/smartcaps.eot');
    src: url('../fonts/smartcaps.eot') format('embedded-opentype'),
         url('../fonts/smartcaps.woff2') format('woff2'),
         url('../fonts/smartcaps.woff') format('woff'),
         url('../fonts/smartcaps.ttf') format('truetype'),
         url('../fonts/smartcaps.svg#smartcaps') format('svg');
}

@font-face {
    font-family: 'mistv';
    src: url('../fonts/mistv.eot');
    src: url('../fonts/mistv.eot') format('embedded-opentype'),
         url('../fonts/mistv.woff2') format('woff2'),
         url('../fonts/mistv.woff') format('woff'),
         url('../fonts/mistv.ttf') format('truetype'),
         url('../fonts/mistv.svg#mistv') format('svg');
}

@font-face {
    font-family: 'KidsAlphabet';
    src: url('../fonts/KidsAlphabet.eot');
    src: url('../fonts/KidsAlphabet.eot') format('embedded-opentype'),
         url('../fonts/KidsAlphabet.woff2') format('woff2'),
         url('../fonts/KidsAlphabet.woff') format('woff'),
         url('../fonts/KidsAlphabet.ttf') format('truetype'),
         url('../fonts/KidsAlphabet.svg#KidsAlphabet') format('svg');
}

@font-face {
    font-family: 'Edbindia';
    src: url('../fonts/Edbindia.eot');
    src: url('../fonts/Edbindia.eot') format('embedded-opentype'),
         url('../fonts/Edbindia.woff2') format('woff2'),
         url('../fonts/Edbindia.woff') format('woff'),
         url('../fonts/Edbindia.ttf') format('truetype'),
         url('../fonts/Edbindia.svg#Edbindia') format('svg');
}

@font-face {
    font-family: 'Hangyaboly4GoB';
    src: url('../fonts/Hangyaboly4GoB.eot');
    src: url('../fonts/Hangyaboly4GoB.eot') format('embedded-opentype'),
         url('../fonts/Hangyaboly4GoB.woff2') format('woff2'),
         url('../fonts/Hangyaboly4GoB.woff') format('woff'),
         url('../fonts/Hangyaboly4GoB.ttf') format('truetype'),
         url('../fonts/Hangyaboly4GoB.svg#Hangyaboly4GoB') format('svg');
}

