@import 'fonts.scss';

$font_1: 'smartcaps', sans-serif;
$font_2: 'KidsAlphabet', sans-serif;
$font_3: 'Edbindia', sans-serif;
$font_4: 'mistv', sans-serif;
$font_5: 'Hangyaboly4GoB', sans-serif;

body {
    position: relative;
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    &.block{
        overflow: hidden;
    }
}

.header {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 100px;
    width: 80%;
    align-items: center;
    .appTitle {
        text-align: center;
        width: 60%;
        font-size: 60px;
        font-family: $font_3;;
        color: #fff;
        text-shadow: 0px 0px 9px rgba(0, 0, 0, 1);
    }
}

.burgerBtn {
    position: relative;
    width: 60px;
    height: 40px;
    z-index: 10;
    transition: all 1s;
    cursor: pointer;
    div {
        width: 100%;
        height: 6px;
        border-radius: 5px;
        background-color: #d55949;;
        position: absolute;
        transition: 1s; 
        &:nth-child(2) {
            top: calc(50% - 3px);    
        }
        &:last-child {
            bottom: 0;
        }
    }
    &.active {
        transform: translate(250px, -30px);
        div:nth-child(1) {
            transform: rotate(45deg) translateY(24px);
        }
        div:nth-child(2) {
        transform: rotate(540deg);
        opacity: 0;
        }
        div:nth-child(3) {
            transform: rotate(-45deg) translateY(-24px);
            }
    }
}

.statisticPanel {
    width: 80%;
    margin: 0 auto 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    transition: 0.3s;
    .statisticBtn, .playRepeatBtn, .statisticCategories {
        width: 12%;
        background-color: rgba(213, 89, 73, 1);
        font-weight: 700;
        text-transform: uppercase;
        font-family: $font_5;
        font-size: 26px;
        color: #fff;
        cursor: pointer;
        transition: 1s;
        border-radius: 3%;
        overflow: hidden;
        box-shadow:
		inset rgba(0,0,0,.5) -3px -3px 8px,
		inset rgba(255,255,255,.9) 3px 3px 8px,
        rgba(0,0,0,.8) 3px 3px 8px -3px;
        &:hover {
            animation: hoverCard 0.2s infinite;
        }
    }
    .statisticCorrectBlock, .statisticMistakesBlock  {
        display: flex;
        align-items: center;
        flex-shrink:0;
        overflow: hidden;
        width: 44%;
        &.inactive {
            opacity: 0;
        }
    }
    .statisticMistakesCounter, .statisticCorrectCounter {
        font-size: 40px;
        min-width: 75px;
        font-family: $font_3;
        // color: rgba(213, 89, 73, 0.8);
        color: #b64242;
        font-size: 50px;
        font-weight: 700;
        // text-shadow: 0px 0px 9px rgba(213, 89, 73, 0.8);

    }
    .statisticMistakesBlock {
        justify-content: end;
        flex-direction: row-reverse;
        opacity: 0.4;
    }
    .statisticMistakesCounter {
          color: #000;
    }
    .star, .starGrey {
        min-width: 40px;
        height: 40px;
        margin: 0 5px;
        background: url("../img/strawberry2.png") 50%/contain;
    }
    .starGrey {
        background: url("../img/poop2.png") 50%/contain;
    }
}

.sideMenuWrapper {
    position: fixed;
    z-index: 9;
    top: 0;
    transform: scaleX(0);
    transform-origin: left;
    width: 30%;
    min-width: 320px;
    height: 100vh;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 0 3% 3% 0;
    box-shadow:
    inset rgba(0,0,0,.5) -3px -3px 8px,
    inset rgba(255,255,255,.9) 3px 3px 8px,
    rgba(0,0,0,.8) 3px 3px 8px -3px;
    font-family: $font_1;;
    color: #fff;
    text-shadow: 0px 0px 9px rgba(0, 0, 0, 1);
    letter-spacing: 4px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10% 5%;
    transition: 1s;
    .sideMenuBtn {
        cursor: pointer;
        line-height: 1.5;
        &:hover {
            color: #d55949;
            font-weight: 900;
            transition: all 0.3s;
            text-shadow: none;
            animation: menuBtnHover 0.3s infinite;
        }
        @keyframes menuBtnHover {
            25% {transform: translateX(10px);}
            50% {transform: translateX(0px);}
            75% {transform: translateX(-10px);}
            100% {transform: translateX(0px);}
        }
    }
    &.active {
        transform: scaleX(1);
    }
}
.mask {
    position: fixed;
    z-index: 8;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    cursor: pointer;
    &.active {
        display: block;
    }
}

.switcher {
	appearance: none;
	width: 56px;
	height: 20px;
	// background: #f2f2f2;
	border-radius: 25px;
	border: 2px solid #fff;
    transition: 0.2s;
    transform: scale(2.5);
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.6em;
    letter-spacing: 2px;
    font-family: $font_5;
    color: #fff;
    &.blocked {
        pointer-events: none;
    }
	&:focus {
		outline: none;
    }
    &:before {
        position: absolute;
        top: 3px;
        right: 5px;
        content: 'play';
    }
	&:after {
		content: "";
		width: 16px;
		height: 16px;
		background: #fff;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		border-radius: 50%;
		transition: 0.2s;
		box-shadow: 1px 0 5px -1px rgba(0, 0, 0, 0.2);
	}
	&:checked {
        padding: 0 18px 0 0;
        &:before {
            content: 'train';
            left: 5px;
            color: #fff;
        }
		background:  #d55949;
		border-color: #d55949;
		&:after {
			left: 35px;
			box-shadow: -1px 0 5px -1px rgba(0, 0, 0, 0.2);
		}
	}
}
.content {
    position: relative;
    width: 80%;
       margin: 0 auto;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    &.disappear {
        animation: disappear 2s forwards;
    }
    .cardWrapper {
      position: relative;
      perspective: 1000px;
      height: 46%;
      width: 23%;
    }
    .card {
        position: absolute;
        backface-visibility: hidden;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
        transition: 1s;
        border-radius: 3%;
        overflow: hidden;
        box-shadow:
		inset rgba(0,0,0,.5) -3px -3px 8px,
		inset rgba(255,255,255,.9) 3px 3px 8px,
        rgba(0,0,0,.8) 3px 3px 8px -3px;
        &.avers {
            z-index: 2;
            &.rotated {
                transform: rotateY(180deg);
                z-index: 1;
            }
        }
        &.reverse {
            z-index: 1;
            transform: rotateY(180deg);
            &.rotated {
                z-index: 2;
                transform: rotateY(360deg);
            }

        }
        &:hover {
            filter: hue-rotate(-151deg);
        }
        @keyframes hoverCard {
            25%{transform: rotate(2deg);}
            50%{transform: rotate(0deg)}
            75%{transform: rotate(-2deg)}
            100%{transform: rotate(0deg)}
        }
        .cardImg {
            width: 100%;
            height: 80%;
            background: #fff no-repeat 50%/contain;
            box-shadow:
            inset rgba(0,0,0,.5) -3px -3px 8px,
            inset rgba(255,255,255,.9) 3px 3px 8px;
        }
        .cardTitle {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 20%;
            font-size: 24px;
            font-family: $font_5;
            color: rgb(213, 89, 73);
            font-weight: 700;
            text-transform: uppercase;
            text-shadow: 0px 0px 9px  rgba(213, 89, 73, 0.7);
        }
        .cardRotateBtn {
            position: absolute;
            border-radius: 50%;
           width: 60px;
            height: 60px;
            right: 0;
            bottom: 0;
            background: url("../img/rotate2.png") 50%/contain;
            cursor: pointer;
            &:hover {
                animation: rotateRotateBtn linear 1s infinite;
            }
            &.inactive {
                opacity: 0;
                pointer-events: none;
            }
        }

        @keyframes rotateRotateBtn {
            100% {transform: rotate(360deg);}
        }
        &.play {
            &:hover {
                animation: hoverCard 0.3s linear infinite;  
            }
            > div:nth-child(1) {
                height: 100%;
            }
            > div:nth-child(n+2) {
                transform: scale(0);
            }
        }
        &.catched {
            position: relative;
            pointer-events: none;
            filter: blur(6.38px);
            &:after {
                position: absolute;
                content: '';
                display: block;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: rgba(10, 227, 11, 0.4);
                mix-blend-mode: multiply
            }
        }
    }
}
.playRepeatBtn {
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 50px auto 0;
    position: relative;
    background-color: rgba(213, 89, 73, 1);
    font-weight: 700;
    text-transform: uppercase;
    font-family: $font_5;
    font-size: 26px;
    color: #fff;
    cursor: pointer;
    transition: 1s;
    border-radius: 3%;
    overflow: hidden;
    box-shadow:
    inset rgba(0,0,0,.5) -3px -3px 8px,
    inset rgba(255,255,255,.9) 3px 3px 8px,
    rgba(0,0,0,.8) 3px 3px 8px -3px;
    &:hover {
        animation: hoverCard 0.2s infinite;
    }
    &:before {
        content: 'start';
    }
    &.playing {
        &:before {
            content: 'repeat word';
        }

    }
    &.inactive {  
        transform: scale(0);
    }
    &.chooseCat {
        display: flex;
        justify-content: center;
        align-items: center;
        &:before {
            font-size: 22px;
            content: 'Choose Category';
        } 
    }
}
.winpopup {
    width: 80%;
    height: 40%;
    position: fixed;
    left: calc(10%);
    top: 45%;
    &.winner, &.loser {
        font-size: 36px;
        font-weight: 900;
        text-align: center;
        color: #fff;
        font-family: $font_5;
        text-transform: uppercase;
        background: #61517b;
        transition: all 0.4s;
        text-shadow: 0 0 9px #000;
        background: url("../img/winner.png") no-repeat  50%/contain;
    }
    &.loser {
        background: url("../img/fail.png") no-repeat  50%/contain;
    }
}

@keyframes disappear {
    100% {
        transform: scale(0) rotate(1800deg);
    }
}
.statistic {
	position: absolute;
	z-index: 7;
	border-radius: 1%;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	color: rgba(255,255,255,.7);
	font-size: 16px;
    font-family: $font_5;
    text-transform: uppercase;
	background: #61517b;
    transition: all 0.4s;
    text-shadow: 0 0 9px #000;
	&.inactive {
		transform: scale(0);
		top: -100%;
	}
}
.statisticCategories, .statisticTitle {
	display: flex;
	width: 100%;
	height: 10%;
	align-items: center;
    justify-content: space-around;
    font-size: 30px;
	.statisticCategoriesBtn {
        width: 12%;
        line-height: 2;
        background-color: rgba(213, 89, 73, 1);
        font-weight: 700;
        text-transform: uppercase;
        font-family: $font_5;
        font-size: 16px;
        color: #fff;
        cursor: pointer;
        transition: 1s;
        border-radius: 3%;
        overflow: hidden;
        box-shadow:
		inset rgba(0,0,0,.5) -3px -3px 8px,
		inset rgba(255,255,255,.9) 3px 3px 8px,
        rgba(0,0,0,.8) 3px 3px 8px -3px;
        &:hover {
               font-weight: 900;
            transition: all 0.3s;
            text-shadow: none;
            animation: menuBtnHover 0.3s infinite;
        }
	}
}
.statisticTitle {
    justify-content: space-between;
    padding: 0 10px;
}
.statisticResetBtn, .statisticRepeatWordsBtn {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    background-color: rgba(213, 89, 73, 1);
    font-weight: 700;
    text-transform: uppercase;
    font-family: $font_5;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    transition: 1s;
    border-radius: 5%;
    overflow: hidden;
    box-shadow:
    inset rgba(0,0,0,.5) -3px -3px 8px,
    inset rgba(255,255,255,.9) 3px 3px 8px,
    rgba(0,0,0,.8) 3px 3px 8px -3px;
    &:hover {
        animation: hoverCard 0.2s infinite;
    }
}



.statisticResetBtn {
    min-width: 100px;
    order: -1;
}
.statisticGrid {
	height: 75%;
}

.word, .statisticHeader {
    font-size: 24px;
	height: 12%;
	display: grid;
    grid-column-gap: 5%;
    grid-template-columns: 3fr 3fr 2fr 2fr 2fr 2fr;
    -webkit-tap-highlight-color: transparent;
    justify-items: center;
    align-items: center;
    border-top: 3px solid rgba(255,255, 255, 0.4);
}

.statisticHeader {
    background-color: rgba(213, 89, 73, 1);
	height: 5%;
    font-size: 16px;
    font-weight: 900;
    > div {
        cursor: pointer;
    }
}
.hiddenForRepeat {
    pointer-events: none;
    transform: scale(0);
}